@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
  }
  /**background effect generation**/
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 /**generation  code ends**/
label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(85, 114, 132, 0.75); /* bg when the menu is up*/
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before, label .burger .bar, label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: rgb(255, 255, 255); /* to change the colour of te hamburgerr lines*/
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
    top: 44%;
}
label .burger::before {
    top: 0;
    transform-origin: top left;
}
label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
input:focus + label .burger, label:hover .burger {
    opacity: 0.75;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #e73c7e;   /* to change the colour of the hover element */
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    nav::before {
        width: 40em;
   }
}
nav a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: rgb(255, 255, 255);  /* to change the text of the hamburger menu*/
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
    color: black;
    font-weight: bold;
}
main {
    overflow: hidden;
}
main .content {
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

 h1{
  background-color: rgb(252, 208, 247);
  font-display: "SemiBold 600";
  font-size: 300%;
  border-radius: 3%;
  padding: 10px;
 }

 .row{
  display: flex;
  background-color: rgb(221, 235, 236);
  border-radius: 30px;
  height: 40%;
  justify-content: space-between;
  margin-top:2%;
  margin-bottom: 5%;

 }
 input{
  flex: 1;
  border:none;
  outline: none;
  background-color: transparent;
  height:30px;
  width:auto;
  font-size: 150%;
  
}
.add{
  display: block;
  background-color: rgb(252, 208, 247);
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 10px ;
  padding-right: 10px ;
}

 ul {
    margin: 10px

 }

 ul li{

  font-size: 20px;
  position: relative;
  list-style: none;

 }
ul li:hover{
    background-color: rgb(221, 235, 236);

}

 ul li span{
  position: absolute;
  right:0;
 
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #e73c7e;
  
  text-align: center;
  border-radius: 20px;
 }
 

 .container{
  text-align: center;
  background-color: white;
  border-radius: 10px ;
  padding: 20px;
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  box-shadow: 20px 20px 60px rgb(47, 49, 79);
  z-index: -1;
 }


 .navigator{
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 30px;
    background-color: white;
    height: 20px;
    padding:5px;
  }
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 50px;
  width: 100%;
  background: #ffffff;

  z-index: 9;
  
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #ff00e1;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background-color: #ffffff;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #000000;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color:#ff00e1;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
