@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
  }
  /**background effect generation**/
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 /**generation  code ends**/

 h1{
  background-color: rgb(252, 208, 247);
  font-display: "SemiBold 600";
  font-size: 50px;
  border-radius: 5px;
  padding: 10px;
 }

 .row{
  display: flex;
  background-color: rgb(221, 235, 236);
  align-items: center;
  border-radius: 30px;
  height: 35px;
  justify-content: space-between;

 }



 ul.listcontainer {
  padding: 10px;
 }

 ul li.unchecked{
  padding:5px;
  font-size: 22px;
  position: relative;
  list-style-type: none;


 }

 ul li.checked{
  color: #e73c7e;
  text-decoration: line-through;
 }

 ul li.checked::before{
  background-image: url(images/checked.png);
 }

 ul li span{
  position: absolute;
  right:0;
  top: 5px;
 
  color: #e73c7e;
 
  text-align: center;

 }




 .container{
  text-align: center;
  background-color: white;
  border-radius: 10px ;
  padding: 20px;
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 20px 20px 60px rgb(47, 49, 79);

 }
.navigator{
  text-align: center;
  font-size: 20px;
  letter-spacing: 30px;
  background-color: white;
  height:45px;

  padding:5px;
}
 /**hamburger code**/

 ul {
  margin: 10px

}

ul li{

font-size: 20px;
position: relative;
list-style: none;

}
ul li:hover{
  background-color: rgb(221, 235, 236);

}

ul li span{
position: absolute;
right:0;

width: 40px;
height: 40px;
font-size: 22px;
color: #e73c7e;

text-align: center;
border-radius: 20px;
}
ul li span:hover{

background-color: rgb(221, 235, 236);

}

